parameters:
    paths:
        - %currentWorkingDirectory%/src
    excludes_analyse:
        - %currentWorkingDirectory%/vendor/*
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    parallel:
        maximumNumberOfProcesses: 2
