{% extends '@EMSCore/base.html.twig' %}{% trans_default_domain 'EMSCoreBundle' %}

{% block title %} {{ 'Specific roles of fields - Content type :  "%content_type%"'|trans({'%content_type%': contentType.singularName }) }}{% endblock %}
{% block pagetitle %}{{ 'Specific roles of fields - Content type :  "%content_type%"'|trans({'%content_type%': contentType.singularName }) }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                    <ol class="vertical" id="root-list" data-nested-max-level="15" data-nested-is-tree="true">
                            {% include "@EMSCore/user/permissions/specific-permissions-field.html.twig" %}
                    </ol>
            </div>
        </div>
    </div>
{% endblock %}
