{% trans_default_domain 'EMSCoreBundle' %}

<style>
    .custom-list {
        list-style-type: none;
        padding-left: 0;
    }
    .custom-list li {
        margin-bottom: 5px;
        background-color: #f9f9f9;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
</style>
<ul class="custom-list">
    {% set displayedParents = [] %}
    {% for child in children %}
        {% set parent = child.getParent() %}
        {% if parent is not null and parent not in displayedParents %}
            {% set displayedParents = displayedParents|merge([parent]) %}
            <li>
                {{ parent.getDisplayOptionsLabel() ?? 'Source' }}
                <div class="pull-right">
                    <span>No minimum role</span>
                </div>
            </li>
        {% endif %}
        <li>
            {{ child.getParent() is not null ? (child.getParent().getDisplayOptionsLabel() ?? 'Source') ~ ' > ' : '' }}{{ child.getDisplayOptionsLabel() }}
            <div class="pull-right">
                <span>Minimum role : {{ child.getFieldType().getRestrictionOption('minimum_role')|trans }}</span>
            </div>
        </li>
    {% endfor %}
</ul>
