main, .wysiwyg-content {
  ul:not(.list-unstyled) {
    padding-left: 1.5rem;
    list-style-type: none;

    li p {
      margin: 0;
    }

    li p + p {
      margin-top: 0.5em;
    }

    li {
      position: relative;
      margin: .35rem 0;

      &:before {
        content: "—";
        position: absolute;
        left: -1.5rem;
      }
    }
  }
}
