:root {
  --ems-icon-size: 16px;

  --ems-white: #ffffff;
  --ems-blue: #3c8dbc;
  --ems-gray-100: #f8f9fa;
  --ems-gray-200: #dee2e6;
  --ems-gray-300: #d7d7d7;
  --ems-gray-500: #999999;
  --ems-gray-700: #666666;
  --ems-gray-900: #333333;

  --ems-focus-bg: #e2f7ff;
  --ems-focus-border: #3c8dbc;
  --ems-border-color: #dee2e6;
  --ems-border-radius: 3px;
  --ems-error-color: #dc3545;

  --ems-btn-primary-bg: #0d6efd;
  --ems-btn-primary-hover-bg: #0b5ed7;
  --ems-btn-secondary-bg: #fff;
  --ems-btn-secondary-color: #212529;
  --ems-btn-secondary-border: #ced4da;
  --ems-btn-secondary-hover-bg: #e9ecef;
  --ems-btn-secondary-hover-border: #ced4da;
  --ems-btn-danger-color: #bb2d3b;
  --ems-btn-danger-border: #bb2d3b;
  --ems-btn-danger-hover-color: #dc3545;
  --ems-btn-danger-hover-border: #dc3545;
}