parameters:
	ignoreErrors:
		-
			message: '''
				#^Call to deprecated method assetPath\(\) of class EMS\\CommonBundle\\Twig\\RequestRuntime\:
				assetPath will be removed in elasticms/common\-bundle 1\.20\. Use AssetRuntime\:\:assetPath instead\.$#
			'''
			identifier: method.deprecated
			count: 1
			path: EMS/common-bundle/src/Controller/FileController.php

		-
			message: '#^Call to deprecated method extractData\(\) of class EMS\\CoreBundle\\Service\\AssetExtractorService\.$#'
			identifier: method.deprecated
			count: 1
			path: EMS/core-bundle/src/Command/ExtractAssetCommand.php

		-
			message: '#^Call to deprecated method extractData\(\) of class EMS\\CoreBundle\\Service\\AssetExtractorService\.$#'
			identifier: method.deprecated
			count: 1
			path: EMS/core-bundle/src/Command/IndexFileCommand.php

		-
			message: '#^Call to deprecated method extractData\(\) of class EMS\\CoreBundle\\Service\\AssetExtractorService\.$#'
			identifier: method.deprecated
			count: 1
			path: EMS/core-bundle/src/Controller/Api/File/ExtractDataController.php

		-
			message: '#^Call to deprecated method isValidName\(\) of class EMS\\CoreBundle\\Controller\\ContentManagement\\ContentTypeController\.$#'
			identifier: staticMethod.deprecated
			count: 2
			path: EMS/core-bundle/src/Controller/ContentManagement/ContentTypeController.php

		-
			message: '#^Call to deprecated method generateSearchBody\(\) of class EMS\\CoreBundle\\Service\\SearchService\.$#'
			identifier: method.deprecated
			count: 2
			path: EMS/core-bundle/src/Controller/ElasticsearchController.php

		-
			message: '#^Call to deprecated method deprecatedSearchApi\(\) of class EMS\\CoreBundle\\Controller\\ElasticsearchController\.$#'
			identifier: method.deprecated
			count: 1
			path: EMS/core-bundle/src/Controller/Search/QuerySearchController.php

		-
			message: '#^Call to deprecated method generateSearchBody\(\) of class EMS\\CoreBundle\\Service\\SearchService\.$#'
			identifier: method.deprecated
			count: 1
			path: EMS/core-bundle/src/Controller/Views/CalendarController.php

		-
			message: '''
				#^Call to deprecated method getChildByPath\(\) of class EMS\\CoreBundle\\Entity\\FieldType\:
				it's not clear if its the mapping of the rawdata or of the formdata \(with ou without the virtual fields\) see the same function in the contenttypeservice$#
			'''
			identifier: method.deprecated
			count: 2
			path: EMS/core-bundle/src/Controller/Views/CriteriaController.php

		-
			message: '#^Call to deprecated method updateDataStructure\(\) of class EMS\\CoreBundle\\Entity\\DataField\.$#'
			identifier: method.deprecated
			count: 1
			path: EMS/core-bundle/src/Entity/DataField.php

		-
			message: '''
				#^Call to deprecated method getChildByPath\(\) of class EMS\\CoreBundle\\Entity\\FieldType\:
				it's not clear if its the mapping of the rawdata or of the formdata \(with ou without the virtual fields\) see the same function in the contenttypeservice$#
			'''
			identifier: method.deprecated
			count: 2
			path: EMS/core-bundle/src/Entity/Form/CriteriaUpdateConfig.php

		-
			message: '#^Call to deprecated method updateDataValue\(\) of class EMS\\CoreBundle\\Entity\\DataField\.$#'
			identifier: method.deprecated
			count: 1
			path: EMS/core-bundle/src/Form/DataField/NestedFieldType.php

		-
			message: '''
				#^Call to deprecated method getChildByPath\(\) of class EMS\\CoreBundle\\Entity\\FieldType\:
				it's not clear if its the mapping of the rawdata or of the formdata \(with ou without the virtual fields\) see the same function in the contenttypeservice$#
			'''
			identifier: method.deprecated
			count: 1
			path: EMS/core-bundle/src/Form/Nature/ReorganizeType.php

		-
			message: '''
				#^Call to deprecated method getChildByPath\(\) of class EMS\\CoreBundle\\Entity\\FieldType\:
				it's not clear if its the mapping of the rawdata or of the formdata \(with ou without the virtual fields\) see the same function in the contenttypeservice$#
			'''
			identifier: method.deprecated
			count: 3
			path: EMS/core-bundle/src/Form/View/Criteria/CriteriaFilterType.php

		-
			message: '''
				#^Call to deprecated method getChildByPath\(\) of class EMS\\CoreBundle\\Entity\\FieldType\:
				it's not clear if its the mapping of the rawdata or of the formdata \(with ou without the virtual fields\) see the same function in the contenttypeservice$#
			'''
			identifier: method.deprecated
			count: 1
			path: EMS/core-bundle/src/Service/DataService.php

		-
			message: '''
				#^Call to deprecated method assetPath\(\) of class EMS\\CommonBundle\\Twig\\RequestRuntime\:
				assetPath will be removed in elasticms/common\-bundle 1\.20\. Use AssetRuntime\:\:assetPath instead\.$#
			'''
			identifier: method.deprecated
			count: 1
			path: EMS/core-bundle/src/Twig/AppExtension.php
