includes:
    - phpstan-baseline.neon

parameters:
    paths:
        - %currentWorkingDirectory%/elasticms-admin/src
        - %currentWorkingDirectory%/elasticms-cli/src
        - %currentWorkingDirectory%/elasticms-web/src
        - %currentWorkingDirectory%/EMS/client-helper-bundle/src
        - %currentWorkingDirectory%/EMS/common-bundle/src
        - %currentWorkingDirectory%/EMS/core-bundle/src
        - %currentWorkingDirectory%/EMS/form-bundle/src
        - %currentWorkingDirectory%/EMS/helpers/src
        - %currentWorkingDirectory%/EMS/submission-bundle/src
        - %currentWorkingDirectory%/EMS/xliff/src
    excludePaths:
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/EMS/common-bundle/src/Resources/*
    level: 8
    parallel:
        maximumNumberOfProcesses: 2
