parameters:
    paths:
        - %currentWorkingDirectory%/elasticms-*/src
        - %currentWorkingDirectory%/EMS/*/src
    excludePaths:
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/EMS/common-bundle/src/Resources/*
    level: 8
    parallel:
        maximumNumberOfProcesses: 2
