<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".cache/.phpunit.cache"
         failOnPhpunitDeprecation="true"
         failOnNotice="true"
         failOnRisky="true"
         failOnWarning="true">

    <source ignoreSuppressionOfDeprecations="true">

        <include>
            <directory>./elasticms-admin/src/</directory>
            <directory>./elasticms-cli/src/</directory>
            <directory>./elasticms-web/src/</directory>
            <directory>./EMS/client-helper-bundle/src/</directory>
            <directory>./EMS/common-bundle/src/</directory>
            <directory>./EMS/core-bundle/src/</directory>
            <directory>./EMS/form-bundle/src/</directory>
            <directory>./EMS/helpers/src/</directory>
            <directory>./EMS/submission-bundle/src/</directory>
            <directory>./EMS/xliff/src/</directory>
        </include>

        <deprecationTrigger>
            <function>trigger_deprecation</function>
            <method>Doctrine\Deprecations\Deprecation::trigger</method>
            <method>Doctrine\Deprecations\Deprecation::delegateTriggerToBackend</method>
        </deprecationTrigger>
    </source>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="memory_limit" value="-1"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <env name="APP_SECRET" value="s$cretf0rt3st"/>
        <env name="SHELL_VERBOSITY" value="-1"/>
        <env name="MAILER_URL" value="null://localhost"/>
        <env name="DATABASE_URL" value="mysql://db_user:db_password@127.0.0.1:3306/db_name"/>
    </php>

    <testsuites>
        <testsuite name="Unit suite">
            <directory>./elasticms-admin/tests</directory>
            <directory>./elasticms-cli/tests</directory>
            <exclude>./elasticms-cli/tests/WebToElasticms/Helper/TikaClientTest.php</exclude>
            <exclude>./elasticms-cli/tests/WebToElasticms/Helper/TikaPromiseTest.php</exclude>
            <exclude>./elasticms-cli/tests/WebToElasticms/Helper/TikaTest.php</exclude>
            <directory>./elasticms-web/tests</directory>
            <directory>./EMS/client-helper-bundle/tests</directory>
            <directory>./EMS/common-bundle/tests</directory>
            <directory>./EMS/core-bundle/tests</directory>
            <directory>./EMS/form-bundle/tests</directory>
            <directory>./EMS/helpers/tests/Unit</directory>
            <directory>./EMS/submission-bundle/tests</directory>
            <directory>./EMS/xliff/tests</directory>
        </testsuite>
    </testsuites>

</phpunit>
