// Mixins: accent

@use "sass:color";

/* Accent Variant */
@mixin accent-variant($name, $color) {
  $link-color: $color;
  .accent-#{$name} {
    $link-hover-color: color.adjust($color, $lightness: -15%);
    $pagination-active-bg: $color;
    $pagination-active-border-color: $color;

    .btn-link,
    a:not(.dropdown-item, .btn-app, .nav-link, .brand-link, .page-link, .badge, .btn),
    .nav-tabs .nav-link {
      color: $link-color;

      &:hover,
      &:focus {
        color: $link-hover-color;
      }
    }

    .dropdown-item {
      &:active,
      &.active {
        background-color: $color;
        color: color-contrast($color);
      }
    }

    .custom-control-input:checked ~ .custom-control-label {
      &::before {
        background-color: $color;
        border-color: color.adjust($color, $lightness: -20%);
      }

      &::after {
        $new-color: color-contrast($color);

        background-image: str-replace($custom-checkbox-indicator-icon-checked, str-replace(#{$custom-control-indicator-checked-color}, "#", "%23"), str-replace(#{$new-color}, "#", "%23"));
      }
    }

    .form-control:focus:not(.is-invalid, .is-warning, .is-valid),
    .custom-select:focus,
    .custom-control-input:focus:not(:checked) ~ .custom-control-label::before,
    .custom-file-input:focus ~ .custom-file-label {
      border-color: color.adjust($color, $lightness: 25%);
    }

    .page-item {
      .page-link {
        color: $link-color;
      }

      &.active a,
      &.active .page-link {
        background-color: $pagination-active-bg;
        border-color: $pagination-active-border-color;
        color: $pagination-active-color;
      }

      &.disabled a,
      &.disabled .page-link {
        background-color: $pagination-disabled-bg;
        border-color: $pagination-disabled-border-color;
        color: $pagination-disabled-color;
      }
    }

    [class*="sidebar-dark-"] {
      .sidebar {
        a:not(.dropdown-item, .btn-app, .nav-link, .brand-link) {
          color: $sidebar-dark-color;

          &:hover,
          &:focus {
            color: $sidebar-dark-hover-color;
          }
        }
      }
    }

    [class*="sidebar-light-"] {
      .sidebar {
        a:not(.dropdown-item, .btn-app, .nav-link, .brand-link) {
          color: $sidebar-light-color;

          &:hover,
          &:focus {
            color: $sidebar-light-hover-color;
          }
        }
      }
    }
  }

  @include dark-mode {
    &.accent-#{$name} {
      .page-item {
        .page-link {
          &:hover,
          &:focus {
            color: color.adjust($link-color, $lightness: 5%);
          }
        }
      }
    }
  }
}
