{% extends '@EMSCH/template/base/base.html.twig' %}
{% trans_default_domain trans_default_domain %}

{% block headtitle %}Profile{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="w-25">
            <div class="card">
                <div class="card-header">
                    Profile
                </div>
                <div class="card-body">
                    <p>Welcome {{ app.user.userIdentifier }}</p>
                    <a href="{{ path('emsch_logout') }}" class="btn btn-primary">Logout</a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
