{% extends '@EMSCH/template/base/base.html.twig' %}
{% trans_default_domain trans_default_domain %}

{% block headtitle %}EMS - Versions{% endblock %}

{% block body %}
    {% set searchReleases = emsch_search('release', {
        "size": 1000,
        "_source": ["version","release_date"],
        "sort": [{ "version": { "order": "desc" } }],
    }) %}
    {% set releases = searchReleases.hits.hits|default([]) %}

    <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="w-25">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <span>Version</span>
                        <a href="{{ path('ems_version_new') }}" class="btn btn-xs btn-primary">New</a>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    {% for release in releases %}
                        <li class="list-group-item">
                            <a href="{{ path('ems_version_detail', { 'ouuid': release._id }) }}">
                                {{ release._source.version }} - {{ release._source.release_date|date('d F Y') }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock body %}
