{%  block xliff_extracted -%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"/>
    <style>
        body {
            margin: 5px;
            padding: 5px;
        }
    </style>
</head>
<body>
    <p>Please find in attachment the XLIFF file.</p>
</body>
</html>
{%- endblock xliff_extracted %}
