.json-menu-nested-component {
    --border-color: #d7d7d7;
    --gap: 10px;
    --icon-size: 30px;
    --bg-color: #F0F0F0;
    --color-light: #F8F8F8;
    --collapse-icon-size: calc(var(--gap) + var(--icon-size));
    border: 1px solid var(--border-color);
    border-radius: 5px;
    overflow-x: auto;

    .jmn-wrapper {
        position: relative;
        display: inline-table;
        width: 100%;

        .jmn-node-loading {
            position: absolute;
            z-index: 1000;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:rgba(248, 248, 248, 0.3);
            color: var(--border-color);
            text-align: center;
            font-size: 1em;
        }
    }

    .jmn-tree {
        overflow: hidden;
        min-height: calc(var(--gap) + var(--icon-size) + var(--gap));

        > .jmn-node.jmn-collapsible { padding-left: 0; }
        > .jmn-node:not(.jmn-collapsible) { padding-left: var(--collapse-icon-size); }

        .jmn-children {
            padding-left: var(--icon-size);

            & > .jmn-node {
                position: relative;
                padding-left: calc(var(--gap) * 2);

                &:before {
                    content: '';
                    width: var(--gap);
                    height: calc(var(--gap) * 1.5);
                    border-left: 1px solid;
                    border-bottom: 1px solid;
                    border-color: var(--border-color);
                    display: block;
                    position: absolute;
                    top: var(--gap);
                    left: 0;
                }
            }
        }
    }

    .jmn-header {
        background-color: var(--bg-color);
        border-bottom: 1px solid var(--border-color);
    }
    .jmn-header, .jmn-row {
        display: flex;
        justify-content: flex-end;

        & > * { flex-shrink: 0 }
        & > :first-child {
            margin-right: auto;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .jmn-column, .jmn-cell {
        padding: var(--gap);
    }
    .jmn-column {
        padding-top: calc(var(--gap) * 2);
        padding-bottom: calc(var(--gap) * 2);
        font-weight: bold;
        text-align: center;
        &:first-child { text-align: left; }
    }
    .jmn-cell {
        text-align: center;
        &:first-child { text-align: left; }
    }

    .jmn-node {
        background-color: white;
        &.jmn-move-drag { opacity: 0; }
        &.jmn-move-ghost, &.jmn-move-chosen { background-color: var(--bg-color);}
    }

    .jmn-row {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: -1px;
            left: -100%;
            right: 0;
            height: 2px;
            background-color: var(--border-color);
        }
    }

    .jmn-item-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--icon-size);
        width: var(--icon-size);
        border-radius: 50%;
        background-color: var(--bg-color);
    }
    .jmn-column-title {
        padding-left: var(--collapse-icon-size);
    }
    .jmn-cell-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: var(--gap);
        padding-right: var(--gap);
    }

    .jmn-btn-move {
        cursor: move;
        &::before {
            font-family: FontAwesome, serif;
            font-weight: 400;
            content: "\f047";
            padding-right: 5px;
        }
    }
    .jmn-btn-collapse {
        padding: 0;
        border: none;
        &[aria-expanded="true"]::after {
            font-family: FontAwesome, serif;
            font-weight: 400;
            content: "\f077";
        }
        &[aria-expanded="false"]::after {
            font-family: FontAwesome, serif;
            font-weight: 400;
            content: "\f078";
        }
    }
}

