.json-menu-nested-component {
    --color-bg: #F0F0F0;
    --color-border: #d7d7d7;
    --color-bg-active: #F0F8FF;
    --color-light: #F8F8F8;
    --border-radius: 5px;
    --gap: 10px;
    --icon-size: 30px;
    --collapse-icon-size: calc(var(--gap) + var(--icon-size));
    position: relative;
    margin-bottom: 50px;

    .jmn-node-loading {
        position: absolute;
        z-index: 1000;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:rgba(248, 248, 248, 0.3);
        color: var(--color-border);
        text-align: center;
        font-size: 1em;
    }

    .jmn-wrapper {
        position: relative;
        display: inline-table;
        width: 100%;
        border: 1px solid var(--color-border);
        border-radius: var(--border-radius);
    }

    .jmn-header {
        border-top-right-radius: var(--border-radius);
        border-top-left-radius: var(--border-radius);
        background-color: var(--color-bg);
        border-bottom: 1px solid var(--color-border);
    }

    .jmn-tree {
        border-bottom-right-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
        min-height: calc(var(--gap) + var(--icon-size) + var(--gap));

        > .jmn-node.jmn-collapsible { padding-left: 0; }
        > .jmn-node:not(.jmn-collapsible) { padding-left: var(--collapse-icon-size); }

        .jmn-children {
            padding-left: var(--icon-size);

            & > .jmn-node {
                position: relative;
                padding-left: calc(var(--gap) * 2);

                &:before {
                    content: '';
                    width: var(--gap);
                    height: calc(var(--gap) * 1.5);
                    border-left: 1px solid;
                    border-bottom: 1px solid;
                    border-color: var(--color-border);
                    display: block;
                    position: absolute;
                    top: var(--gap);
                    left: var(--gap);
                }
            }
        }
    }

    .jmn-header, .jmn-row {
        display: flex;
        justify-content: flex-end;
        & > :first-child { margin-right: auto; }
    }

    .jmn-column, .jmn-cell {
        display: flex;
        padding: var(--gap);
        column-gap: var(--gap);
        flex-shrink: 0;
        &:first-child { justify-content: flex-start; flex-shrink: 1; }
    }
    .jmn-column {
        align-items: center;
        justify-content: center;
        padding-top: var(--gap);
        padding-bottom: var(--gap);
        font-weight: bold;
        text-align: center;
    }
    .jmn-cell {
        justify-content: flex-end;
        align-items: flex-start;
        gap: var(--gap);
    }

    .jmn-node {
        background-color: white;
        border-top: 1px solid var(--color-border);
        &.jmn-move-drag { opacity: 0; }
        &.jmn-move-ghost, &.jmn-move-chosen { background-color: var(--color-bg);}
        &.jmn-node-active { background-color: var(--color-bg-active) }
    }

    .jmn-item-icon {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--icon-size);
        width: var(--icon-size);
        border-radius: 50%;
        background-color: var(--color-bg);
    }
    .jmn-column-title {
        padding-left: var(--collapse-icon-size);
    }
    .jmn-cell-title {
        align-items: baseline;
    }
    .jmn-btn-more {
        background-color: white;
    }

    .jmn-btn-move {
        cursor: move;
        &::before {
            font-family: FontAwesome, serif;
            font-weight: 400;
            content: "\f047";
            padding-right: 5px;
        }
    }
    .jmn-btn-collapse {
        padding: 0;
        border: none;
        &[aria-expanded="true"]::after {
            font-family: FontAwesome, serif;
            font-weight: 400;
            content: "\f077";
        }
        &[aria-expanded="false"]::after {
            font-family: FontAwesome, serif;
            font-weight: 400;
            content: "\f078";
        }
    }
}

