{% block pdfHtml %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Test Test</title>
    </head>
    <body>
    Example!
    </body>
    </html>
{% endblock %}