{% extends '@EMSAdminUI/bootstrap5/base/admin.html.twig' %}{% trans_default_domain 'emsco-twigs' %}


{% block title %}No node available{% endblock %}
{% block pagetitle %}No node available{% endblock %}
{% block subtitle %}<small>Something goes wrong</small>{% endblock %}
{% block body %}
<div class="col-12">
	<div class="card card-light">
		<div class="card-header bg-red">
			<h3 class="card-title">
				<i class="icon fa fa-ban fa-2x"></i>  No node available for the following cluster
			</h3>
			<ul>
				{% for server in cluster %}
					<li>{{server}}</li>
				{% endfor %}
			</ul>
		</div>
	</div>

</div>
{% endblock %}
