{% extends '@EMSCH/template/fragments/structure.html.twig' %}
{% trans_default_domain trans_default_domain %}

{% block item %}
    {% if attribute(urls, section.id) is defined and attribute(section.object, locale).title is defined %}
        <li class="nav-item">
            <a class="nav-link text-dark" href="{{ attribute(urls, section.id) }}" target="{{ section.type == 'link' ? '_blank' : '_self' }}"><span>{{ attribute(section.object, locale).title }}</span></a>
        </li>
    {% endif %}
{% endblock %}

{% block request %}
    {% for section in structure.children|filter(p => p.id in pages) %}
        {{ block('item') }}
    {% endfor %}
{% endblock request %}
