@import "@fortawesome/fontawesome-free/scss/functions";
@import "@fortawesome/fontawesome-free/scss/variables";

@mixin icon($icon) {
  font-family: $fa-style-family;
  font-weight: $fa-style;
  content: fa-content($icon);
}

@mixin icon-before($icon, $marginRight : 5px) {
  &::before {
    @include icon($icon);

    margin-right: $marginRight;
  }
}

@mixin icon-after($icon, $marginLeft : 5px) {
  &::after {
    @include icon($icon);

    margin-left: $marginLeft;
  }
}
