{% trans_default_domain 'emsco-component' %}

{# @var template \EMS\CoreBundle\Core\Component\JsonMenuNested\Template\JsonMenuNestedTemplate #}

<div class="json-menu-nested-component" id="{{ id }}" data-hash="{{ hash }}"></div>