{% trans_default_domain 'emsco-component' %}
<div class="media-lib" data-hash="{{ hash }}">
    <div class="media-lib-header">
        <button class="btn btn-xs btn-primary btn-add-folder">{{ 'media_library.folder.add.title'|trans }}</button>
    </div>
    <div class="media-lib-content">
        <div class="media-lib-left-column">
            <div class="media-lib-folders">
                <ul>
                    <li>Folder 1</li>
                    <li>Folder 2</li>
                    <li>Folder 3</li>
                    <li>Folder 4</li>
                    <li>Folder 5</li>
                    <li>Folder 6</li>
                    <li>Folder 7</li>
                    <li>Folder 8</li>
                </ul>
            </div>
        </div>
        <div class="media-lib-right-column">
            <ul class="media-lib-files"></ul>
        </div>
    </div>
    <div class="media-lib-footer"></div>
</div>