table#CriteriaUpdateCustomViewTable > tbody > tr > td {
	min-width: 150px;
}

.ui-sortable-handle {
    cursor: move;
}

.raw-view, .revision-view {
    word-break: break-word;
	.leaf-item {
		max-height: 400px;
    	overflow-y: scroll;
	}
}

div.table-responsive {
	padding-bottom: 20px;
}

table td {
  &.col-xs { width: 10%; }
  &.col-sm { width: 15%; }
  &.col-md { width: 25%; }
  &.col-lg { width: 35%; }
}

.nowrap  {
	white-space: nowrap;
}

.max-2-lines {
    max-height: 85px;
    overflow-y: scroll;
}
.max-3-lines {
    max-height: 115px;
    overflow-y: scroll;
}
.max-4-lines {
    max-height: 143px;
    overflow-y: scroll;
}
.max-5-lines {
    max-height: 174px;
    overflow-y: scroll;
}

.btn-collapse, .collapse { display: none;}

button.button-collapse[aria-expanded=true]:after, button.btn-collapse[aria-expanded=false]:after  {
  font-family: FontAwesome;
  content: "\f106";
}
button.button-collapse[aria-expanded=false]:after, button.btn-collapse[aria-expanded=true]:after   {
  font-family: FontAwesome;
  content: "\f107";
}

button.button-collapse-all[aria-expanded=true]:before {
  font-family: FontAwesome;
  content: "\f102";
}
button.button-collapse-all[aria-expanded=false]:before {
  font-family: FontAwesome;
  content: "\f103";
}

.asset-preview-tab img {
  background-image: url('../images/background-img.png');
  background-repeat: repeat;
}

div.box-body p {
  overflow-x: auto;
}

div.console {
  overflow-x: auto;
}

div.core-js-progress {
  margin-bottom: 0;
  border-radius: 5px;

  label {
    display: inline-block;
    float: left;
  }
  div.status {
    display: inline-block;
    float: right;
    font-style: italic;
  }

  div.progress {
    clear: both;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
  }
}

.ems-data-link {
  display: inline-flex;
  align-items: baseline;
  white-space: normal;
  text-align: left;

  & i { padding-right: 10px;}
}

button > * {
  pointer-events: none; /* icons clickable inside button, js using event.target */
}
