# See those links for more information:
# * https://github.com/Smals-Webtech/base-php
# * https://github.com/Smals-Webtech/base-php/blob/main/docs/php.md
# * https://github.com/Smals-Webtech/base-php/blob/main/docs/php-fpm.md
PHP_MEMORY_LIMIT=2048M
PHP_OPENTELEMETRY_ENABLED=false
OTEL_PHP_AUTOLOAD_ENABLED=false
OTEL_PHP_DISABLED_INSTRUMENTATIONS=symfony
