// Mixins: Backgrounds

@use "sass:color";

// Background Variant
@mixin background-variant($name, $color) {
  #{if(&, "&.bg-#{$name}",".bg-#{$name}")} {
    background-color: #{$color} !important;

    &,
    > a {
      color: color-contrast($color) !important;
    }

    &.btn {
      &:hover {
        border-color: color.adjust($color, $lightness: -10%);
        color: color.adjust(color-contrast($color), $lightness: -7.5%);
      }

      &:not(:disabled, .disabled):active,
      &:not(:disabled, .disabled).active,
      &:active,
      &.active {
        background-color: color.adjust($color, $lightness: -10%) !important;
        border-color: color.adjust($color, $lightness: -12.5%);
        color: color-contrast(color.adjust($color, $lightness: -10%));
      }
    }
  }
}

// Background Gradient Variant
@mixin background-gradient-variant($name, $color) {
  .bg-gradient-#{$name} {
    background: $color linear-gradient(180deg, color.mix($body-bg, $color, 15%), $color) repeat-x !important;
    color: color-contrast($color);

    &.btn {
      &:not(:disabled, .disabled):active,
      &:not(:disabled, .disabled).active,
      .show > &.dropdown-toggle {
        background-image: none !important;
      }

      &:hover {
        background: $color linear-gradient(180deg, color.mix($body-bg, color.adjust($color, $lightness: -7.5%), 15%), color.adjust($color, $lightness: -7.5%)) repeat-x !important;
        border-color: color.adjust($color, $lightness: -10%);
        color: color.adjust(color-contrast($color), $lightness: -7.5%);
      }

      &:not(:disabled, .disabled):active,
      &:not(:disabled, .disabled).active,
      &:active,
      &.active {
        background: $color linear-gradient(180deg, color.mix($body-bg, color.adjust($color, $lightness: -10%), 15%), color.adjust($color, $lightness: -10%)) repeat-x !important;
        border-color: color.adjust($color, $lightness: -12.5%);
        color: color-contrast(color.adjust($color, $lightness: -10%));
      }

      &:disabled,
      &.disabled {
        background-image: none !important;
        border-color: $color;
        color: color-contrast($color);
      }
    }
  }
}
