// Mixins: Navbar

@use "sass:color";

// Navbar Variant
@mixin navbar-variant($name, $color) {
  .navbar-#{$name} {
    background-color: $color;
    color: color-contrast($color);

    &.navbar-light {
      .form-control-navbar {
        &::placeholder {
          color: rgba($gray-800, .8);
        }

        &,
        + .input-group-append > .btn-navbar {
          background-color: color.adjust($color, $lightness: -4%);
          border-color: color.adjust($color, $lightness: -9%);
          color: rgba($gray-800, .8);
        }

        &:focus {
          &::placeholder {
            color: $gray-800;
          }

          &,
          + .input-group-append .btn-navbar {
            background-color: color.adjust($color, $lightness: -5%);
            border-color: color.adjust($color, $lightness: -9%) !important;
            color: $gray-800;
          }
        }
      }
    }

    &.navbar-dark {
      .form-control-navbar {
        &::placeholder {
          color: rgba($white, .8);
        }

        &,
        + .input-group-append > .btn-navbar {
          background-color: color.adjust($color, $lightness: 4%);
          border-color: color.adjust($color, $lightness: 9%);
          color: rgba($white, .8);
        }

        &:focus {
          &::placeholder {
            color: $white;
          }

          &,
          + .input-group-append .btn-navbar {
            background-color: color.adjust($color, $lightness: 5%);
            border-color: color.adjust($color, $lightness: 9%) !important;
            color: $white;
          }
        }
      }
    }
  }
}
