{%- trans_default_domain 'emsco-core' -%}

<footer class="main-footer">
    <a href="https://elasticms.fgov.be/" target="_blank">elastic<strong>MS</strong></a>
    <div class="float-right d-none d-sm-inline-block">
        {{ 'core.version'|trans({ '%core%': ems_version('core'), '%symfony%': ems_version('symfony') }) }}
    </div>
</footer>
