{%- trans_default_domain 'emsco-core' -%}

<footer class="main-footer no-print">
    {% if app.user %}
        <a href="https://elasticms.fgov.be/" target="_blank">elastic<strong>MS</strong></a>
        <div class="float-end d-none d-sm-inline-block">
            {{ 'core.version'|trans({ '%core%': ems_version('core'), '%symfony%': ems_version('symfony') }) }}
        </div>
    {% endif %}
</footer>
