{%- trans_default_domain 'emsco-core' -%}

<footer class="app-footer">
    <div class="float-end d-none d-sm-inline">{{ 'core.version'|trans({ '%core%': ems_version('core'), '%symfony%': ems_version('symfony') }) }}</div>
    <a href="https://elasticms.fgov.be/" target="_blank">elastic<strong>MS</strong></a>
</footer>
