{%- trans_default_domain 'elements' -%}

<div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="{{ asset('images/icon-128.png', 'emsadminui') }}" alt="AdminLTELogo" height="128" width="128">
</div>
