.wysiwyg-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background: #fff;
    resize: vertical;
    overflow: hidden;
    min-height: 150px;

    .wysiwyg-toolbar {
        background-color: #f8f9fa;
        border-bottom: 1px solid #ced4da;
        padding: 4px;
    }

    &.is-source-mode {
        .wysiwyg-iframe {
            display: none;
        }

        .wysiwyg-source-view {
            display: block;
        }
    }

    &.is-maximized {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw !important;
        height: 100vh !important;
        z-index: 9999;
        border-radius: 0;
        resize: none;
        overflow: hidden;
    }

    .wysiwyg-source-view,
    .wysiwyg-iframe {
        flex: 1;
        height: auto;
        border: none !important;
        outline: none;
        display: block;
        width: 100%;
        margin: 0;
    }

    .wysiwyg-source-view {
        display: none;
        resize: none;
        font-family: 'Courier New', monospace;
        box-sizing: border-box;
    }
}
