html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: sans-serif;
    overflow-y: auto;
}

.ProseMirror {
    outline: none;
    white-space: pre-wrap;
    box-sizing: border-box;
    padding: 5px;
    min-height: 100%;

    li p {
        margin: 0;
    }

    li p + p {
        margin-top: 0.5em;
    }

    table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        margin: 0;
        overflow: hidden;

        tr {
            border-bottom: 1px solid #ddd;

            &:last-child {
                border-bottom: 0;
            }
        }

        td, th {
            min-width: 1em;
            border: 1px solid #ddd;
            padding: 3px 5px;
            vertical-align: top;
            box-sizing: border-box;
            position: relative;

            &.selectedCell:after {
                z-index: 2;
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: rgba(200, 200, 255, 0.4);
                pointer-events: none;
            }
        }

        th {
            font-weight: bold;
            text-align: left;
            background-color: #f8f9fa;
        }
    }
}