{%- trans_default_domain 'emsco-user' -%}
{% extends '@EMSAdminUI/bootstrap5/base/admin.html.twig' %}

{% block title %}{{ 'user.resetting.title'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-{{ theme_color }}">
                <div class="card-header with-border">
                    <h3 class="card-title">{{ 'user.resetting.title'|trans }}</h3>
                </div>
                <div class="card-body">
                    <p>{{ 'user.resetting.check_email'|trans({'%tokenLifetime%': (tokenLifetime / 3600) })|nl2br }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
