[program:supercronic]
command=/usr/bin/supercronic {{.Env.ELASTICMS_CLI_SUPERCRONIC_COMMAND_FLAGS}} /opt/etc/crontabs/elasticms
stdout_logfile=/dev/stdout
stderr_logfile=/dev/stderr
stdout_logfile_maxbytes=0
stderr_logfile_maxbytes=0
autorestart=true