parameters:
	ignoreErrors:
		-
			message: '''
				#^Call to method load\(\) of deprecated class Symfony\\Component\\Routing\\Loader\\XmlFileLoader\:
				since Symfony 7\.4, use another loader instead$#
			'''
			identifier: method.deprecatedClass
			count: 1
			path: ../EMS/client-helper-bundle/src/Helper/Routing/RoutingBuilder.php

		-
			message: '''
				#^Instantiation of deprecated class Symfony\\Component\\Routing\\Loader\\XmlFileLoader\:
				since Symfony 7\.4, use another loader instead$#
			'''
			identifier: new.deprecatedClass
			count: 1
			path: ../EMS/client-helper-bundle/src/Helper/Routing/RoutingBuilder.php

		-
			message: '''
				#^Call to deprecated method assetPath\(\) of class EMS\\CommonBundle\\Twig\\RequestRuntime\:
				assetPath will be removed in elasticms/common\-bundle 1\.20\. Use AssetRuntime\:\:assetPath instead\.$#
			'''
			identifier: method.deprecated
			count: 1
			path: ../EMS/common-bundle/src/Controller/FileController.php

		-
			message: '#^Call to deprecated method extractData\(\) of class EMS\\CoreBundle\\Service\\AssetExtractorService\.$#'
			identifier: method.deprecated
			count: 1
			path: ../EMS/core-bundle/src/Command/IndexFileCommand.php

		-
			message: '#^Call to deprecated method extractData\(\) of class EMS\\CoreBundle\\Service\\AssetExtractorService\.$#'
			identifier: method.deprecated
			count: 1
			path: ../EMS/core-bundle/src/Controller/Api/File/ExtractDataController.php

		-
			message: '#^Call to deprecated method isValidName\(\) of class EMS\\CoreBundle\\Controller\\ContentManagement\\ContentTypeController\.$#'
			identifier: staticMethod.deprecated
			count: 2
			path: ../EMS/core-bundle/src/Controller/ContentManagement/ContentTypeController.php

		-
			message: '#^Instanceof between Symfony\\Component\\Form\\FormError and Symfony\\Component\\Form\\FormError will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: ../EMS/core-bundle/src/Controller/ContentManagement/DataController.php

		-
			message: '#^Call to deprecated method generateSearchBody\(\) of class EMS\\CoreBundle\\Service\\SearchService\.$#'
			identifier: method.deprecated
			count: 2
			path: ../EMS/core-bundle/src/Controller/ElasticsearchController.php

		-
			message: '#^Call to deprecated method deprecatedSearchApi\(\) of class EMS\\CoreBundle\\Controller\\ElasticsearchController\.$#'
			identifier: method.deprecated
			count: 1
			path: ../EMS/core-bundle/src/Controller/Search/QuerySearchController.php

		-
			message: '#^Call to deprecated method generateSearchBody\(\) of class EMS\\CoreBundle\\Service\\SearchService\.$#'
			identifier: method.deprecated
			count: 1
			path: ../EMS/core-bundle/src/Controller/Views/CalendarController.php

		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../EMS/core-bundle/src/Core/Config/AbstractConfigFactory.php

		-
			message: '''
				#^Call to deprecated method eraseCredentials\(\) of class EMS\\CoreBundle\\Entity\\User\:
				since Symfony 7\.3, erase credentials using the "__serialize\(\)" method instead$#
			'''
			identifier: method.deprecated
			count: 1
			path: ../EMS/core-bundle/src/Core/User/UserManager.php

		-
			message: '#^Call to deprecated method updateDataStructure\(\) of class EMS\\CoreBundle\\Entity\\DataField\.$#'
			identifier: method.deprecated
			count: 1
			path: ../EMS/core-bundle/src/Entity/DataField.php

		-
			message: '#^Call to deprecated method updateDataValue\(\) of class EMS\\CoreBundle\\Entity\\DataField\.$#'
			identifier: method.deprecated
			count: 1
			path: ../EMS/core-bundle/src/Form/DataField/NestedFieldType.php

		-
			message: '''
				#^Call to deprecated method assetPath\(\) of class EMS\\CommonBundle\\Twig\\RequestRuntime\:
				assetPath will be removed in elasticms/common\-bundle 1\.20\. Use AssetRuntime\:\:assetPath instead\.$#
			'''
			identifier: method.deprecated
			count: 1
			path: ../EMS/core-bundle/src/Twig/AppExtension.php












