parameters:
	ignoreErrors:
		-
			message: '''
				#^Call to method load\(\) of deprecated class Symfony\\Component\\Routing\\Loader\\XmlFileLoader\:
				since Symfony 7\.4, use another loader instead$#
			'''
			identifier: method.deprecatedClass
			count: 1
			path: ../EMS/client-helper-bundle/src/Helper/Routing/RoutingBuilder.php

		-
			message: '''
				#^Instantiation of deprecated class Symfony\\Component\\Routing\\Loader\\XmlFileLoader\:
				since Symfony 7\.4, use another loader instead$#
			'''
			identifier: new.deprecatedClass
			count: 1
			path: ../EMS/client-helper-bundle/src/Helper/Routing/RoutingBuilder.php












