parameters:
	ignoreErrors:
		-
			message: '#^Parameter \$max of class Symfony\\Component\\Validator\\Constraints\\Length constructor expects int\<1, max\>\|null, int\|null given\.$#'
			identifier: argument.type
			count: 1
			path: ../EMS/client-helper-bundle/src/Helper/Form/EmschFormType.php

		-
			message: '#^Parameter \$min of class Symfony\\Component\\Validator\\Constraints\\Length constructor expects int\<0, max\>\|null, int\|null given\.$#'
			identifier: argument.type
			count: 1
			path: ../EMS/client-helper-bundle/src/Helper/Form/EmschFormType.php

		-
			message: '#^Parameter \$type of method Symfony\\Component\\Form\\FormBuilderInterface\<mixed\>\:\:add\(\) expects class\-string\<Symfony\\Component\\Form\\FormTypeInterface\>\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: ../EMS/client-helper-bundle/src/Helper/Form/EmschFormType.php

		-
			message: '''
				#^Call to method load\(\) of deprecated class Symfony\\Component\\Routing\\Loader\\XmlFileLoader\:
				since Symfony 7\.4, use another loader instead$#
			'''
			identifier: method.deprecatedClass
			count: 1
			path: ../EMS/client-helper-bundle/src/Helper/Routing/RoutingBuilder.php

		-
			message: '''
				#^Instantiation of deprecated class Symfony\\Component\\Routing\\Loader\\XmlFileLoader\:
				since Symfony 7\.4, use another loader instead$#
			'''
			identifier: new.deprecatedClass
			count: 1
			path: ../EMS/client-helper-bundle/src/Helper/Routing/RoutingBuilder.php

		-
			message: '#^Parameter \#1 \$name of method EMS\\ClientHelperBundle\\Helper\\Search\\Search\:\:setSortBy\(\) expects string\|null, bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: ../EMS/client-helper-bundle/src/Helper/Search/Search.php

		-
			message: '#^Unable to resolve the template type TDefault in call to method Symfony\\Component\\HttpFoundation\\InputBag\<string\>\:\:get\(\)$#'
			identifier: argument.templateType
			count: 3
			path: ../EMS/client-helper-bundle/src/Helper/Search/Search.php

		-
			message: '#^Method EMS\\ClientHelperBundle\\Security\\CoreApi\\User\\CoreApiUser\:\:getUserIdentifier\(\) should return non\-empty\-string but returns string\.$#'
			identifier: return.type
			count: 1
			path: ../EMS/client-helper-bundle/src/Security/CoreApi/User/CoreApiUser.php

		-
			message: '#^Method EMS\\ClientHelperBundle\\Security\\Sso\\User\\SsoUser\:\:getUserIdentifier\(\) should return non\-empty\-string but returns string\.$#'
			identifier: return.type
			count: 1
			path: ../EMS/client-helper-bundle/src/Security/Sso/User/SsoUser.php

		-
			message: '''
				#^Call to deprecated method assetPath\(\) of class EMS\\CommonBundle\\Twig\\RequestRuntime\:
				assetPath will be removed in elasticms/common\-bundle 1\.20\. Use AssetRuntime\:\:assetPath instead\.$#
			'''
			identifier: method.deprecated
			count: 1
			path: ../EMS/common-bundle/src/Controller/FileController.php

		-
			message: '#^Call to deprecated function imagedestroy\(\)\.$#'
			identifier: function.deprecated
			count: 2
			path: ../EMS/common-bundle/src/Storage/Processor/Image.php

		-
			message: '#^Call to deprecated method extractData\(\) of class EMS\\CoreBundle\\Service\\AssetExtractorService\.$#'
			identifier: method.deprecated
			count: 1
			path: ../EMS/core-bundle/src/Command/IndexFileCommand.php

		-
			message: '#^Call to deprecated method extractData\(\) of class EMS\\CoreBundle\\Service\\AssetExtractorService\.$#'
			identifier: method.deprecated
			count: 1
			path: ../EMS/core-bundle/src/Controller/Api/File/ExtractDataController.php

		-
			message: '#^Call to deprecated method isValidName\(\) of class EMS\\CoreBundle\\Controller\\ContentManagement\\ContentTypeController\.$#'
			identifier: staticMethod.deprecated
			count: 2
			path: ../EMS/core-bundle/src/Controller/ContentManagement/ContentTypeController.php

		-
			message: '#^Instanceof between Symfony\\Component\\Form\\FormError and Symfony\\Component\\Form\\FormError will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: ../EMS/core-bundle/src/Controller/ContentManagement/DataController.php

		-
			message: '#^Call to deprecated method generateSearchBody\(\) of class EMS\\CoreBundle\\Service\\SearchService\.$#'
			identifier: method.deprecated
			count: 2
			path: ../EMS/core-bundle/src/Controller/ElasticsearchController.php

		-
			message: '#^Call to deprecated method deprecatedSearchApi\(\) of class EMS\\CoreBundle\\Controller\\ElasticsearchController\.$#'
			identifier: method.deprecated
			count: 1
			path: ../EMS/core-bundle/src/Controller/Search/QuerySearchController.php

		-
			message: '#^Call to deprecated method generateSearchBody\(\) of class EMS\\CoreBundle\\Service\\SearchService\.$#'
			identifier: method.deprecated
			count: 1
			path: ../EMS/core-bundle/src/Controller/Views/CalendarController.php

		-
			message: '''
				#^Call to deprecated method getChildByPath\(\) of class EMS\\CoreBundle\\Entity\\FieldType\:
				it's not clear if its the mapping of the rawdata or of the formdata \(with ou without the virtual fields\) see the same function in the contenttypeservice$#
			'''
			identifier: method.deprecated
			count: 2
			path: ../EMS/core-bundle/src/Controller/Views/CriteriaController.php

		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../EMS/core-bundle/src/Core/Config/AbstractConfigFactory.php

		-
			message: '''
				#^Call to deprecated method eraseCredentials\(\) of class EMS\\CoreBundle\\Entity\\User\:
				since Symfony 7\.3, erase credentials using the "__serialize\(\)" method instead$#
			'''
			identifier: method.deprecated
			count: 1
			path: ../EMS/core-bundle/src/Core/User/UserManager.php

		-
			message: '#^Call to deprecated method updateDataStructure\(\) of class EMS\\CoreBundle\\Entity\\DataField\.$#'
			identifier: method.deprecated
			count: 1
			path: ../EMS/core-bundle/src/Entity/DataField.php

		-
			message: '''
				#^Call to deprecated method getChildByPath\(\) of class EMS\\CoreBundle\\Entity\\FieldType\:
				it's not clear if its the mapping of the rawdata or of the formdata \(with ou without the virtual fields\) see the same function in the contenttypeservice$#
			'''
			identifier: method.deprecated
			count: 2
			path: ../EMS/core-bundle/src/Entity/Form/CriteriaUpdateConfig.php

		-
			message: '#^Method EMS\\CoreBundle\\Entity\\User\:\:getUserIdentifier\(\) should return non\-empty\-string but returns string\.$#'
			identifier: return.type
			count: 1
			path: ../EMS/core-bundle/src/Entity/User.php

		-
			message: '#^Call to deprecated method updateDataValue\(\) of class EMS\\CoreBundle\\Entity\\DataField\.$#'
			identifier: method.deprecated
			count: 1
			path: ../EMS/core-bundle/src/Form/DataField/NestedFieldType.php

		-
			message: '#^Method EMS\\CoreBundle\\Form\\DataTransformer\\ChannelOptionsTransformer\:\:reverseTransform\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: ../EMS/core-bundle/src/Form/DataTransformer/ChannelOptionsTransformer.php

		-
			message: '#^Method EMS\\CoreBundle\\Form\\DataTransformer\\ChannelOptionsTransformer\:\:transform\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: ../EMS/core-bundle/src/Form/DataTransformer/ChannelOptionsTransformer.php

		-
			message: '#^Method EMS\\CoreBundle\\Form\\DataTransformer\\FormModelTransformer\:\:reverseTransform\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: ../EMS/core-bundle/src/Form/DataTransformer/FormModelTransformer.php

		-
			message: '#^Parameter \#2 \$type of method Symfony\\Component\\Form\\FormBuilderInterface\<mixed\>\:\:add\(\) expects class\-string\<Symfony\\Component\\Form\\FormTypeInterface\>\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: ../EMS/core-bundle/src/Form/Form/ViewType.php

		-
			message: '''
				#^Call to deprecated method getChildByPath\(\) of class EMS\\CoreBundle\\Entity\\FieldType\:
				it's not clear if its the mapping of the rawdata or of the formdata \(with ou without the virtual fields\) see the same function in the contenttypeservice$#
			'''
			identifier: method.deprecated
			count: 1
			path: ../EMS/core-bundle/src/Form/Nature/ReorganizeType.php

		-
			message: '''
				#^Call to deprecated method getChildByPath\(\) of class EMS\\CoreBundle\\Entity\\FieldType\:
				it's not clear if its the mapping of the rawdata or of the formdata \(with ou without the virtual fields\) see the same function in the contenttypeservice$#
			'''
			identifier: method.deprecated
			count: 3
			path: ../EMS/core-bundle/src/Form/View/Criteria/CriteriaFilterType.php

		-
			message: '''
				#^Call to deprecated method getChildByPath\(\) of class EMS\\CoreBundle\\Entity\\FieldType\:
				it's not clear if its the mapping of the rawdata or of the formdata \(with ou without the virtual fields\) see the same function in the contenttypeservice$#
			'''
			identifier: method.deprecated
			count: 1
			path: ../EMS/core-bundle/src/Service/DataService.php

		-
			message: '''
				#^Call to deprecated method assetPath\(\) of class EMS\\CommonBundle\\Twig\\RequestRuntime\:
				assetPath will be removed in elasticms/common\-bundle 1\.20\. Use AssetRuntime\:\:assetPath instead\.$#
			'''
			identifier: method.deprecated
			count: 1
			path: ../EMS/core-bundle/src/Twig/AppExtension.php

		-
			message: '#^Parameter \#1 \$constraints of class Symfony\\Component\\Validator\\Constraints\\All constructor expects array\<Symfony\\Component\\Validator\\Constraint\>\|Symfony\\Component\\Validator\\Constraint\|null, array\<string, array\<Symfony\\Component\\Validator\\Constraint\>\> given\.$#'
			identifier: argument.type
			count: 1
			path: ../EMS/form-bundle/src/Components/Field/MultipleFile.php

		-
			message: '#^Parameter \#2 \$type of method Symfony\\Component\\Form\\FormBuilderInterface\<mixed\>\:\:add\(\) expects class\-string\<Symfony\\Component\\Form\\FormTypeInterface\>\|null, string given\.$#'
			identifier: argument.type
			count: 2
			path: ../EMS/form-bundle/src/Components/Form.php

		-
			message: '#^Parameter \#2 \$type of method Symfony\\Component\\Form\\FormBuilderInterface\<mixed\>\:\:add\(\) expects class\-string\<Symfony\\Component\\Form\\FormTypeInterface\>\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: ../EMS/form-bundle/src/Components/Form/NestedChoiceType.php






