{% extends '@EMSCH/template/page/default.html.twig' %}
{% trans_default_domain trans_default_domain %}

{% block body_class %}with-banner{% endblock %}
{% block main -%}
    <div class="jumbotron px-0 rounded-0 mb-0">
        <figure class="d-md-none mb-4">
            <img src="{{ asset('img/banners/banner-home-sm.jpg', 'emsch') }}" class="img-fluid" alt="">
        </figure>
        <div class="container-fluid container-lg">
            <div class="row">
                <div class="col-12  col-md-6 col-xl-5 offset-xl-1">
                    <h1 {{ emsch_admin_menu(target.getEmsLink|default(emsLink|default(''))) }}>
                        {{ block('title') }}
                    </h1>
                    {{ attribute(source, locale).body|default('')|emsch_routing|raw }}
                </div>
            </div>
        </div>
    </div>
    {% block blocks %}{% endblock %}
{%- endblock main %}
