// Component: Callout

@use "sass:color";
@use "sass:map";

// Base styles (regardless of theme)
.callout {
  @if $enable-rounded {
    @include border-radius($border-radius);
  }

  @if $enable-shadows {
    box-shadow: map.get($elevations, 1);
  } @else {
    border: 1px solid $gray-300;
  }

  background-color: $white;
  border-left: 5px solid $gray-200;
  margin-bottom: map.get($spacers, 3);
  padding: 1rem;

  a {
    color: $gray-700;
    text-decoration: underline;

    &:hover {
      color: $gray-200;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  // Themes for different contexts
  &.callout-danger {
    border-left-color: color.adjust(map.get($theme-colors, "danger"), $lightness: -10%);
  }

  &.callout-warning {
    border-left-color: color.adjust(map.get($theme-colors, "warning"), $lightness: -10%);
  }

  &.callout-info {
    border-left-color: color.adjust(map.get($theme-colors, "info"), $lightness: -10%);
  }

  &.callout-success {
    border-left-color: color.adjust(map.get($theme-colors, "success"), $lightness: -10%);
  }
}

@include dark-mode {
  .callout {
    background-color: color.adjust($dark, $lightness: 5%);

    &.callout-danger {
      border-left-color: color.adjust($danger-alt, $lightness: 10%);
    }

    &.callout-warning {
      border-left-color: color.adjust($warning-alt, $lightness: 10%);
    }

    &.callout-info {
      border-left-color: color.adjust($info-alt, $lightness: 10%);
    }

    &.callout-success {
      border-left-color: color.adjust($success-alt, $lightness: 10%);
    }
  }
}
