// Component: Sidebar Mini

// Logo style
.logo-xs,
.logo-xl {
  opacity: 1;
  position: absolute;
  visibility: visible;

  &.brand-image-xs {
    left: 18px;
    top: 12px;
  }

  &.brand-image-xl {
    left: 12px;
    top: 6px;
  }
}

.logo-xs {
  opacity: 0;
  visibility: hidden;

  &.brand-image-xl {
    left: 16px;
    top: 8px;
  }
}

.brand-link {
  &.logo-switch {
    &::before {
      content: "\00a0";
    }
  }
}

// Add sidebar-mini class to the body tag to activate this feature
.sidebar-mini {
  .scrollable {
    width: calc($sidebar-width - calc($sidebar-padding-x * 2));
  }

  @include media-breakpoint-up(lg) {
    @include sidebar-mini-breakpoint;
  }
}

@include media-breakpoint-down(md) {
  .sidebar-mini.sidebar-collapse .main-sidebar {
    box-shadow: none !important;
  }
}

.sidebar-mini-md {
  @include media-breakpoint-up(md) {
    @include sidebar-mini-breakpoint;
  }
}

@include media-breakpoint-down(sm) {
  .sidebar-mini-md.sidebar-collapse .main-sidebar {
    box-shadow: none !important;
  }
}

.sidebar-mini-xs {
  @include media-breakpoint-up(xs) {
    @include sidebar-mini-breakpoint;
  }
}

.sidebar-mini,
.sidebar-mini-md,
.sidebar-mini-xs {
  .main-sidebar {
    .nav-link {
      --bs-nav-link-padding-x: 0.75rem;
      
      width: 100%;
    }
  }
}

.sidebar-collapse {
  &.sidebar-mini,
  &.sidebar-mini-md,
  &.sidebar-mini-xs {
    .main-sidebar:not(:hover) {
      // Hide the sidebar search results when mini mode is active.
      .sidebar-search-results {
        display: none;
      }

      .scrollable {
        width: $sidebar-mini-width - $sidebar-padding-x * 2;
      }

      .nav-sidebar {
        &.nav-child-indent.nav-compact {
          .nav-treeview {
            padding-left: 0 !important;
            margin-left: 0 !important;
          }
        }
      }

      &.sidebar-focused,
      &:hover {
        &:not(.hide-nav-header-on-hover) {
          .nav-header {
            display: inline-block;
          }
        }

        // Show sidebar search when hover/focus on the sidebar mini mode.
        &:not(.sidebar-no-expand) {
          .form-control-sidebar {
            display: inline-block;
          }

          .form-control-sidebar ~ .input-group-append {
            display: flex;
          }

          .sidebar-search-open .sidebar-search-results {
            display: inline-block;
          }
        }
      }
    }

    .sidebar-no-expand.main-sidebar.sidebar-focused,
    .sidebar-no-expand.main-sidebar:hover {
      width: $sidebar-mini-width;

      .nav-header {
        display: none;
      }

      .brand-link {
        width: $sidebar-mini-width !important;
      }

      .user-panel .image {
        float: none !important;
      }

      .logo-xs {
        animation-name: fade-in;
        animation-duration: $transition-speed;
        animation-fill-mode: both;
        visibility: visible;
      }

      .logo-xl {
        animation-name: fade-out;
        animation-duration: $transition-speed;
        animation-fill-mode: both;
        visibility: hidden;
      }

      .nav-sidebar.nav-child-indent .nav-treeview {
        padding-left: 0;
      }

      .sidebar {
        .brand-text,
        .user-panel > .info,
        .nav-sidebar .nav-link p {
          margin-left: -10px;
          animation-name: fade-out;
          animation-duration: $transition-speed;
          animation-fill-mode: both;
          visibility: hidden;
          display: inline-block;
          width: 0;
        }

        .nav-sidebar > .nav-item .nav-icon {
          margin-right: 0;
        }
      }
    }
  }
}

.nav-sidebar {
  position: relative;

  &:hover {
    overflow: visible;
  }
}

.sidebar-form,
.nav-sidebar > .nav-header {
  overflow: hidden;
  text-overflow: clip;
  text-transform: uppercase;
  color: white;
  padding: 1rem 0.25rem;
}

.nav-sidebar .nav-item > .nav-link {
  position: relative;
}

.sidebar .nav-link p,
.main-sidebar .brand-text,
.main-sidebar .logo-xs,
.main-sidebar .logo-xl,
.sidebar .user-panel .info {
  @include transition(margin-left $transition-speed linear, opacity $transition-speed ease, visibility $transition-speed ease);
}
