@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-color($white);
    @include button-color-hover($white);
  }
}

@each $color, $value in $social-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
    @include button-color($white);
    @include button-color-hover($white);
  }
}

.btn-light,
.btn-white {
  @include button-color($gray-800);
  @include button-color-hover($gray-800);

  &:hover {
    border: 1px solid var(--bs-border-color);
  }
}


.btn-light {
  border: 1px solid var(--bs-border-color);
}

.btn-default {
  --bs-btn-active-border-color: var(--bs-border-color);
  
  @extend .btn-white;
  border: 1px solid var(--bs-border-color);
}