@each $name, $color in $theme-colors-supported {
  html[data-theme='#{$name}'] {
    .navbar,
    .user-header,
    #activity-counter,
    .sidebar-temporary-toggle {
      background-color: $color !important;
    }

    .navbar-brand {
      background-color: color-mix(in srgb, #{$color} 90%, black) !important;

      &:hover {
        background-color: $color !important;
      }
    }
  }
}