{% block email_endpoint %}
{{- "no-reply@elasticms.be" -}}
{% endblock email_endpoint %}

{% block email_message %}
    {%- set fields = [] -%}
    {%- set elements = config.elements -%}
    {%- for name, value in data -%}
        {%- set element = elements|filter(v => v.name == name)|first -%}
        {%- set fields = fields|merge({(name): {
            'name': name,
            'value': value,
            'label': (element.label|default('')),
            'class': (element.class|default(''))
        } }) -%}
    {%- endfor -%}

    {%- set body -%}
    <body>
        <ul>
            {% for field in fields %}
                <li>{{ field.label }}: {{ field.value }}</li>
            {% endfor %}
        </ul>
        <p>
            Kind regards.
        </p>
    </body>
    {%- endset -%}

    {%- set files = {} -%}
    {%- for file in formData.allFiles|map(v => v.toArray) -%}
        {%- set files = files|merge({ (file.form_field): {
            filename: file.filename|ems_webalize,
            originalName: file.filename|ems_webalize,
            mimeType: file.mimeType,
            pathname: file.pathname,
        } }) -%}
    {%- endfor -%}

    {%- set mail = {
        "from": "no-reply@elasticms.be",
        "subject": "Form submission from user group form",
        "body": body
    } -%}

    {%- if files|length > 0 -%}
        {%- set mail = mail|merge({"attachments": files}) -%}
    {%- endif -%}
    {{- mail|json_encode|raw -}}
{% endblock email_message %}
