dialog.ems-dialog {
  --dialog-bg: #fff;
  --dialog-border-color: #d2d6de;
  --dialog-text-color: #333;
  --dialog-input-color: #555;
  --dialog-input-border: #d2d6de;
  --dialog-focus-color: #3c8dbc;
  --dialog-btn-primary-bg: #3c8dbc;
  --dialog-btn-primary-hover-bg: #367fa9;
  --dialog-btn-danger-border: #b52f1f;
  --dialog-btn-danger-color: #b52f1f;
  --dialog-btn-danger-hover-color: #dd4b39;
  --dialog-btn-danger-hover-border: #dd4b39;
  --dialog-btn-secondary-bg: #f4f4f4;
  --dialog-btn-secondary-color: #444444;
  --dialog-btn-secondary-border: #dddddd;
  --dialog-btn-secondary-hover-bg: #e7e7e7;
  --dialog-btn-secondary-hover-border: #adadad;
}