{% trans_default_domain 'EMSCoreBundle' %}

<style>
    .custom-list {
        list-style-type: none;
        padding-left: 0;
    }

    .custom-list li {
        margin-bottom: 5px;
        background-color: #f9f9f9;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
</style>

<ul class="custom-list">
    {% for child in children %}
    <li>
        {% if child.getDisplayOptionsLabel() is null %}
            source
        {% else %}
            {{ child.getParent() }} >
            {{ child.getDisplayOptionsLabel() }}
        {% endif %}
        <div class="pull-right">
            <span>Role : {{ child.getFieldType().getRestrictionOption('minimum_role')|trans }}</span>
        </div>
    </li>
    {% endfor %}
</ul>