// fontawesome
// ---------------------------------------------------
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";

@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/functions";
@import "@fortawesome/fontawesome-free/scss/variables";
@import "@fortawesome/fontawesome-free/scss/mixins";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/brands";

// Hotfixes map old fa classes
.fa-keyboard-o {
  @include fa-icon-solid($fa-var-keyboard);
}

.fa-file-text-o {
  @include fa-icon-solid($fa-var-file-text);
}

.fa-calendar-o {
  @include fa-icon-solid($fa-var-calendar-alt);
}

