{% extends '@EMSCore/base.html.twig' %}{% trans_default_domain 'EMSCoreBundle' %}

{% block title %}{{ 'Trash for content type %name%'|trans({'%name%': contentType.singularName}) }}{% endblock %}
{% block pagetitle %}{{ 'Trash for content type %name%'|trans({'%name%': contentType.singularName}) }}{% endblock %}


{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><i class="fa fa-fire"></i> {{ 'revision.removed-revisions.breadcrumb'|trans({'%contentType%': contentType.pluralName}) }}</li>
    </ol>
{% endblock %}

{% block body %}
    {% form_theme form '@EMSCore/form/forms.html.twig' %}
    {{ form(form) }}
{% endblock %}
