{% extends '@EMSCore/action/form.html.twig' %}
{% trans_default_domain 'emsco-twigs' %}

{% block title %}Permissions{% endblock %}

{% block body %}
    <h1>Permissions des rôles</h1>
    {# You can add any content you want to display here #}
{% endblock %}
