.btn-primary,
.btn-success,
.btn-warning,
.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-disabled-color: #fff;
}
.text-bg-primary,
.text-bg-success,
.text-bg-warning,
.text-bg-danger {
  color: #fff !important;
}