includes:
    - phpstan-baseline.neon

parameters:
    paths:
        - %currentWorkingDirectory%/src
    excludes_analyse:
        - %currentWorkingDirectory%/vendor/*
    reportUnmatchedIgnoredErrors: false
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
