<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/elasticms-admin/tests" />
        <option value="$PROJECT_DIR$/elasticms-cli/tests" />
        <option value="$PROJECT_DIR$/elasticms-web/tests" />
        <option value="$PROJECT_DIR$/EMS/client-helper-bundle/tests" />
        <option value="$PROJECT_DIR$/EMS/common-bundle/tests" />
        <option value="$PROJECT_DIR$/EMS/core-bundle/tests" />
        <option value="$PROJECT_DIR$/EMS/form-bundle/tests" />
        <option value="$PROJECT_DIR$/EMS/helpers/tests/Unit" />
        <option value="$PROJECT_DIR$/EMS/submission-bundle/tests" />
        <option value="$PROJECT_DIR$/EMS/xliff/tests" />
      </list>
    </option>
  </component>
</project>