{% extends '@EMSCH/template/page/blocks/abstract-block.html.twig' %}
{% block widget %}
    {% trans_default_domain trans_default_domain %}

    <div class="container-fluid container-lg">
        <div class="py-5 py-lg-8">
            {{ include('@EMSCH/template/accessibility/report.html.twig') }}
        </div>
    </div>
{% endblock widget %}
