{% extends '@EMSCH/template/page/blocks/abstract-block.html.twig' %}

{% block body %}
    <div class="container-fluid container-lg">
        <section class="py-5 py-lg-8">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                    {{ block('children') }}
                </div>
            </div>
        </section>
    </div>
{% endblock body %}
