{% extends '@EMSCH/template/page/blocks/image.html.twig' %}

{% block widget_image %}
    {% trans_default_domain trans_default_domain %}

    <div class="col-md-6">
        {{ block('image') }}
    </div>

    <div class="col-md-6 col-xl-5 offset-xl-1">
        {{ block('tags') }}
        {{ block('summary') }}
    </div>
{% endblock widget_image %}


