{% extends '@EMSCH/template/page/blocks/abstract-block.html.twig' %}

{% block widget %}
    {% trans_default_domain trans_default_domain %}
    <div class="row news">
        <div class="col-md-6 offset-xl-1 order-md-2">
            <img class="news-image img-fluid rounded mx-auto"
              data-src="{{ ems_asset_path(item.object.image, {
                  _config_type: 'image',
                  _width: 490,
                  _height: 300,
                  _quality: 90,
              }) }}"
              alt="490x300"
              src="{{ ems_asset_path(item.object.image, {
                  _config_type: 'image',
                  _width: 490,
                  _height: 300,
                  _quality: 90,
              }) }}"
              data-holder-rendered="true">
        </div>
        <div class="col-md-6 col-xl-5 order-md-1">
            <div class="tag">Publication</div>
            {{ item.object.body|default('')|emsch_routing }}
        </div>
    </div>
{% endblock widget %}


