* {
  box-sizing: border-box
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, div, pre, address, blockquote {
  margin: 0
}

.format-list {
  list-style: none;
  margin: 0;
  padding: 4px 0;
}

.format-list li {
  padding: 4px 12px;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.06);
  }

  &.active {
    background: rgba(0, 0, 0, 0.1);
  }

  > * {
    margin: 0;
    padding: 0;
  }
}